---
import Header from "../components/Header.astro";
import BaseHead from "../components/BaseHead.astro";
import ViewBlog from "./ViewBlog.astro";
import Home from "./Home.astro";
---

<!doctype html>
<html lang="en">
  <BaseHead />
  <body>
    <Header />
    <ViewBlog />
  </body>
</html>
<style is:global>
  :root {
    --primary: white;
    --secondary: white;
  }
  code {
    font-family:
      Menlo,
      Monaco,
      Lucida Console,
      Liberation Mono,
      DejaVu Sans Mono,
      Bitstream Vera Sans Mono,
      Courier New,
      monospace;
  }
  body {
    font-size: 16px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "M PLUS Rounded 1c", sans-serif;
  }
</style>
