---
interface Props {
  imgUrl: string | null;
  title: string;
  publishedDate: string;
  shortDescription: string;
}
const { imgUrl, title, publishedDate, shortDescription } = Astro.props;
---

<a href="/ViewBlog">
  <div
    class="flex m-2 gap-2 bg-white items-center shadow-custom rounded-2xl px-3 max-h-40"
  >
    <img src="./blogimg.png" alt="Blog Image" class="py-3" />
    <div>
      <div>
        <h4 class="font-parkinsans text-md font-semibold text-ellipsis">
          {title}
        </h4>
        <p class="text-[#A5A5A5] text-ellipsis text-xs overflow-hidden">
          {shortDescription}
        </p>
      </div>
      <div class="flex justify-end">
        <span class="text-xs text-[#a5a5a5]">{publishedDate}</span>
      </div>
    </div>
  </div>
</a>
