<footer class="flex items-center justify-normal text-center bottom-0">
  <hr />
  <p>
    Designed & Developed By Kevin Roan, Built with <a
      href="https://astro.build"
      class="text-blue-500">AstroJs</a
    >
  </p>
</footer>
