<header
  class="font-sans sticky top-0 z-20 py-4 px-5 bg-transparent backdrop-blur-sm font-semibold text-[#403C3C] flex justify-between items-center"
>
  <h3>Kevin Roan ~ Blogs</h3>
  <div>
    <svg
      xmlns="http://www.w3.org/2000/svg"
      x="0px"
      y="0px"
      width="20"
      height="20"
      viewBox="0 0 24 24"
    >
      <path
        d="M 3.5 3 A 0.50005 0.50005 0 1 0 3.5 4 L 20.5 4 A 0.50005 0.50005 0 1 0 20.5 3 L 3.5 3 z M 3.5 11 A 0.50005 0.50005 0 1 0 3.5 12 L 20.5 12 A 0.50005 0.50005 0 1 0 20.5 11 L 3.5 11 z M 3.5 19 A 0.50005 0.50005 0 1 0 3.5 20 L 20.5 20 A 0.50005 0.50005 0 1 0 20.5 19 L 3.5 19 z"
      ></path>
    </svg>
  </div>
</header>
